@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Ubuntu:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(255, 61, 61);
    padding: 10px 20px;
    height: 70px;
    width: 100%;
    /* align-items: center; */
    /* text-align: center; */
    /* justify-content: center; */
    position: fixed;
}

.navbar ul {
    width: 14rem;
    display: inline-block;
    padding-top: 10px;
    /* text-align: center; */
}

.navbar ul li {
    color: white;
    display: inline-block;
    list-style: none;
    margin: 0 3px;
    text-align: center;
}

.input {
    width: 10rem;
    outline: none;
    padding-left: 15px;
}

.form {
    float: right;
    align-items: center;
    text-align: center;
}

.section {
    height: 40rem;
    background: url(img1.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

.container {
    color: rgb(3, 94, 11);
    /* position: absolute; */
    margin-top: 8rem;
    margin-left: 25%;
    width: 50%;
    text-align: center;
}

.container h1 {
    font-family: 'Irish Grover', cursive;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.container p {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 17px;
    color: blue;
    font-weight: bolder;
    margin: 10px 0;
}

span {
    font-family: 'Irish Grover', cursive;
    display: inline-block;
    color: rgb(1, 90, 10);
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}

input {
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 3rem;
    padding: 10px 20px;
    border: none;
    outline: none;
}

button {
    display: inline-block;
    background-color: rgba(0, 255, 255, 0.555);
    width: 6rem;
    margin: 1rem auto;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 140, 255);

}

/* Product section  */

.product {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.item {
    border: 2px solid black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 10px;
    width: 20rem;
    background-color: pink;
}

.item h2 {
    font-family: 'Irish Grover', cursive;
    margin-left: 20px;
    display: inline-block;
    border-bottom: 2px solid red;
}

.item p {
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: bold;
    margin: 20px;
}

.item img {
    padding: 20px;
}

.footer {
    background-color: rgb(255, 61, 61);
    color: white;
    text-align: center;
    padding-top: 15px;
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (min-width : 600px) {
    .product {
        display: flex;
        flex-direction: row;
        margin: 1rem;
    }

    .item {
        background-color: yellowgreen;
    }

}

@media screen and (max-width : 650px) {
    .input {
        width: 6rem;
        outline: none;
        padding-left: 15px;
    }

    .form {
        padding-top: 6px;
        float: right;
    }

    .navbar ul li {
        margin: 4px;
    }
}